@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inknut+Antiqua%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-oW_8q6hMN1nS_font-family: "Inter", sans-serif;
  --mixin-oW_8q6hMN1nS_font-size: 14px;
  --mixin-oW_8q6hMN1nS_font-weight: 400;
  --mixin-oW_8q6hMN1nS_font-style: normal;
  --mixin-oW_8q6hMN1nS_color: #535353;
  --mixin-oW_8q6hMN1nS_text-align: left;
  --mixin-oW_8q6hMN1nS_text-transform: none;
  --mixin-oW_8q6hMN1nS_line-height: 1.5;
  --mixin-oW_8q6hMN1nS_letter-spacing: normal;
  --mixin-oW_8q6hMN1nS_white-space: pre-wrap;
  --mixin-oW_8q6hMN1nS_user-select: text;
  --mixin-oW_8q6hMN1nS_text-decoration-line: none;
  --mixin-oW_8q6hMN1nS_text-overflow: clip;
  --mixin-I05AROmbdDN3_color: #000000;
  --mixin-I05AROmbdDN3_font-weight: 600;
  --mixin-I05AROmbdDN3_font-size: 40px;
  --mixin-I05AROmbdDN3_line-height: 1;
  --mixin-I05AROmbdDN3_letter-spacing: -1px;
  --mixin-I05AROmbdDN3_white-space: pre-wrap;
  --mixin-U4Ue961NVdfR_color: #000000;
  --mixin-U4Ue961NVdfR_font-size: 30px;
  --mixin-U4Ue961NVdfR_font-weight: 600;
  --mixin-U4Ue961NVdfR_line-height: 1.1;
  --mixin-U4Ue961NVdfR_white-space: pre-wrap;
  --mixin-Q5QuVleVKpV__color: #0070f3;
  --mixin-Q5QuVleVKpV__white-space: pre-wrap;
  --mixin-1c4gx1-ifB8b_color: #000000;
  --mixin-1c4gx1-ifB8b_font-size: 24px;
  --mixin-1c4gx1-ifB8b_font-weight: 600;
  --mixin-1c4gx1-ifB8b_line-height: 1.2;
  --mixin-1c4gx1-ifB8b_white-space: pre-wrap;
  --mixin-An9k2uf6wMyR_color: #000000;
  --mixin-An9k2uf6wMyR_font-size: 20px;
  --mixin-An9k2uf6wMyR_font-weight: 600;
  --mixin-An9k2uf6wMyR_line-height: 1.3;
  --mixin-An9k2uf6wMyR_white-space: pre-wrap;
  --mixin-3OK7EHZdVJiK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3OK7EHZdVJiK_border-bottom-color: #dddddd;
  --mixin-3OK7EHZdVJiK_border-bottom-style: solid;
  --mixin-3OK7EHZdVJiK_border-bottom-width: 1px;
  --mixin-3OK7EHZdVJiK_border-left-color: #dddddd;
  --mixin-3OK7EHZdVJiK_border-left-style: solid;
  --mixin-3OK7EHZdVJiK_border-left-width: 1px;
  --mixin-3OK7EHZdVJiK_border-right-color: #dddddd;
  --mixin-3OK7EHZdVJiK_border-right-style: solid;
  --mixin-3OK7EHZdVJiK_border-right-width: 1px;
  --mixin-3OK7EHZdVJiK_border-top-color: #dddddd;
  --mixin-3OK7EHZdVJiK_border-top-style: solid;
  --mixin-3OK7EHZdVJiK_border-top-width: 1px;
  --mixin-3OK7EHZdVJiK_border-bottom-left-radius: 3px;
  --mixin-3OK7EHZdVJiK_border-bottom-right-radius: 3px;
  --mixin-3OK7EHZdVJiK_border-top-left-radius: 3px;
  --mixin-3OK7EHZdVJiK_border-top-right-radius: 3px;
  --mixin-3OK7EHZdVJiK_font-family: "Inconsolata";
  --mixin-3OK7EHZdVJiK_padding-bottom: 1px;
  --mixin-3OK7EHZdVJiK_padding-left: 4px;
  --mixin-3OK7EHZdVJiK_padding-right: 4px;
  --mixin-3OK7EHZdVJiK_padding-top: 1px;
  --mixin-3OK7EHZdVJiK_white-space: pre-wrap;
  --mixin-DdKWvZ2YCH_V_border-left-color: #dddddd;
  --mixin-DdKWvZ2YCH_V_border-left-style: solid;
  --mixin-DdKWvZ2YCH_V_border-left-width: 3px;
  --mixin-DdKWvZ2YCH_V_color: #888888;
  --mixin-DdKWvZ2YCH_V_padding-left: 10px;
  --mixin-DdKWvZ2YCH_V_white-space: pre-wrap;
  --mixin-oKYUqGAMvUxP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oKYUqGAMvUxP_border-bottom-color: #dddddd;
  --mixin-oKYUqGAMvUxP_border-bottom-style: solid;
  --mixin-oKYUqGAMvUxP_border-bottom-width: 1px;
  --mixin-oKYUqGAMvUxP_border-left-color: #dddddd;
  --mixin-oKYUqGAMvUxP_border-left-style: solid;
  --mixin-oKYUqGAMvUxP_border-left-width: 1px;
  --mixin-oKYUqGAMvUxP_border-right-color: #dddddd;
  --mixin-oKYUqGAMvUxP_border-right-style: solid;
  --mixin-oKYUqGAMvUxP_border-right-width: 1px;
  --mixin-oKYUqGAMvUxP_border-top-color: #dddddd;
  --mixin-oKYUqGAMvUxP_border-top-style: solid;
  --mixin-oKYUqGAMvUxP_border-top-width: 1px;
  --mixin-oKYUqGAMvUxP_border-bottom-left-radius: 3px;
  --mixin-oKYUqGAMvUxP_border-bottom-right-radius: 3px;
  --mixin-oKYUqGAMvUxP_border-top-left-radius: 3px;
  --mixin-oKYUqGAMvUxP_border-top-right-radius: 3px;
  --mixin-oKYUqGAMvUxP_font-family: "Inconsolata";
  --mixin-oKYUqGAMvUxP_padding-bottom: 3px;
  --mixin-oKYUqGAMvUxP_padding-left: 6px;
  --mixin-oKYUqGAMvUxP_padding-right: 6px;
  --mixin-oKYUqGAMvUxP_padding-top: 3px;
  --mixin-oKYUqGAMvUxP_white-space: pre-wrap;
  --mixin-Oa7JkQXpXkd0_display: flex;
  --mixin-Oa7JkQXpXkd0_flex-direction: column;
  --mixin-Oa7JkQXpXkd0_align-items: stretch;
  --mixin-Oa7JkQXpXkd0_justify-content: flex-start;
  --mixin-Oa7JkQXpXkd0_list-style-position: outside;
  --mixin-Oa7JkQXpXkd0_padding-left: 40px;
  --mixin-Oa7JkQXpXkd0_position: relative;
  --mixin-Oa7JkQXpXkd0_list-style-type: disc;
  --mixin-Oa7JkQXpXkd0_white-space: pre-wrap;
  --mixin-n1eDrwhBXNf2_display: flex;
  --mixin-n1eDrwhBXNf2_flex-direction: column;
  --mixin-n1eDrwhBXNf2_align-items: stretch;
  --mixin-n1eDrwhBXNf2_justify-content: flex-start;
  --mixin-n1eDrwhBXNf2_list-style-position: outside;
  --mixin-n1eDrwhBXNf2_padding-left: 40px;
  --mixin-n1eDrwhBXNf2_position: relative;
  --mixin-n1eDrwhBXNf2_list-style-type: decimal;
  --mixin-n1eDrwhBXNf2_white-space: pre-wrap;
  --mixin--1D7vWQuZFcb_color: #000000;
  --mixin--1D7vWQuZFcb_font-size: 16px;
  --mixin--1D7vWQuZFcb_font-weight: 600;
  --mixin--1D7vWQuZFcb_line-height: 1.5;
  --mixin--1D7vWQuZFcb_white-space: pre-wrap;
  --mixin-HqXLLecX7g0R_color: #000000;
  --mixin-HqXLLecX7g0R_font-size: 14px;
  --mixin-HqXLLecX7g0R_font-weight: 600;
  --mixin-HqXLLecX7g0R_line-height: 1.5;
  --mixin-HqXLLecX7g0R_white-space: pre-wrap;
  --mixin-CbZtVeLmHDYm_color: #3291ff;
  --mixin-CbZtVeLmHDYm_white-space: pre-wrap;
  --mixin-gyCHSRFssxxB_white-space: pre-wrap;
  --mixin-U-z0gwCCbKG6_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-oW_8q6hMN1nS_font-family);
  font-size: var(--mixin-oW_8q6hMN1nS_font-size);
  font-weight: var(--mixin-oW_8q6hMN1nS_font-weight);
  font-style: var(--mixin-oW_8q6hMN1nS_font-style);
  color: var(--mixin-oW_8q6hMN1nS_color);
  text-align: var(--mixin-oW_8q6hMN1nS_text-align);
  text-transform: var(--mixin-oW_8q6hMN1nS_text-transform);
  line-height: var(--mixin-oW_8q6hMN1nS_line-height);
  letter-spacing: var(--mixin-oW_8q6hMN1nS_letter-spacing);
  white-space: var(--mixin-oW_8q6hMN1nS_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-I05AROmbdDN3_color);
  font-weight: var(--mixin-I05AROmbdDN3_font-weight);
  font-size: var(--mixin-I05AROmbdDN3_font-size);
  line-height: var(--mixin-I05AROmbdDN3_line-height);
  letter-spacing: var(--mixin-I05AROmbdDN3_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-U4Ue961NVdfR_color);
  font-size: var(--mixin-U4Ue961NVdfR_font-size);
  font-weight: var(--mixin-U4Ue961NVdfR_font-weight);
  line-height: var(--mixin-U4Ue961NVdfR_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Q5QuVleVKpV__color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-1c4gx1-ifB8b_color);
  font-size: var(--mixin-1c4gx1-ifB8b_font-size);
  font-weight: var(--mixin-1c4gx1-ifB8b_font-weight);
  line-height: var(--mixin-1c4gx1-ifB8b_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-An9k2uf6wMyR_color);
  font-size: var(--mixin-An9k2uf6wMyR_font-size);
  font-weight: var(--mixin-An9k2uf6wMyR_font-weight);
  line-height: var(--mixin-An9k2uf6wMyR_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3OK7EHZdVJiK_font-family);
  border-radius: var(--mixin-3OK7EHZdVJiK_border-top-left-radius)
    var(--mixin-3OK7EHZdVJiK_border-top-right-radius)
    var(--mixin-3OK7EHZdVJiK_border-bottom-right-radius)
    var(--mixin-3OK7EHZdVJiK_border-bottom-left-radius);
  padding: var(--mixin-3OK7EHZdVJiK_padding-top)
    var(--mixin-3OK7EHZdVJiK_padding-right)
    var(--mixin-3OK7EHZdVJiK_padding-bottom)
    var(--mixin-3OK7EHZdVJiK_padding-left);
  border-top: var(--mixin-3OK7EHZdVJiK_border-top-width)
    var(--mixin-3OK7EHZdVJiK_border-top-style)
    var(--mixin-3OK7EHZdVJiK_border-top-color);
  border-right: var(--mixin-3OK7EHZdVJiK_border-right-width)
    var(--mixin-3OK7EHZdVJiK_border-right-style)
    var(--mixin-3OK7EHZdVJiK_border-right-color);
  border-bottom: var(--mixin-3OK7EHZdVJiK_border-bottom-width)
    var(--mixin-3OK7EHZdVJiK_border-bottom-style)
    var(--mixin-3OK7EHZdVJiK_border-bottom-color);
  border-left: var(--mixin-3OK7EHZdVJiK_border-left-width)
    var(--mixin-3OK7EHZdVJiK_border-left-style)
    var(--mixin-3OK7EHZdVJiK_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DdKWvZ2YCH_V_color);
  padding-left: var(--mixin-DdKWvZ2YCH_V_padding-left);
  border-left: var(--mixin-DdKWvZ2YCH_V_border-left-width)
    var(--mixin-DdKWvZ2YCH_V_border-left-style)
    var(--mixin-DdKWvZ2YCH_V_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oKYUqGAMvUxP_font-family);
  border-radius: var(--mixin-oKYUqGAMvUxP_border-top-left-radius)
    var(--mixin-oKYUqGAMvUxP_border-top-right-radius)
    var(--mixin-oKYUqGAMvUxP_border-bottom-right-radius)
    var(--mixin-oKYUqGAMvUxP_border-bottom-left-radius);
  padding: var(--mixin-oKYUqGAMvUxP_padding-top)
    var(--mixin-oKYUqGAMvUxP_padding-right)
    var(--mixin-oKYUqGAMvUxP_padding-bottom)
    var(--mixin-oKYUqGAMvUxP_padding-left);
  border-top: var(--mixin-oKYUqGAMvUxP_border-top-width)
    var(--mixin-oKYUqGAMvUxP_border-top-style)
    var(--mixin-oKYUqGAMvUxP_border-top-color);
  border-right: var(--mixin-oKYUqGAMvUxP_border-right-width)
    var(--mixin-oKYUqGAMvUxP_border-right-style)
    var(--mixin-oKYUqGAMvUxP_border-right-color);
  border-bottom: var(--mixin-oKYUqGAMvUxP_border-bottom-width)
    var(--mixin-oKYUqGAMvUxP_border-bottom-style)
    var(--mixin-oKYUqGAMvUxP_border-bottom-color);
  border-left: var(--mixin-oKYUqGAMvUxP_border-left-width)
    var(--mixin-oKYUqGAMvUxP_border-left-style)
    var(--mixin-oKYUqGAMvUxP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Oa7JkQXpXkd0_display);
  flex-direction: var(--mixin-Oa7JkQXpXkd0_flex-direction);
  align-items: var(--mixin-Oa7JkQXpXkd0_align-items);
  justify-content: var(--mixin-Oa7JkQXpXkd0_justify-content);
  list-style-position: var(--mixin-Oa7JkQXpXkd0_list-style-position);
  padding-left: var(--mixin-Oa7JkQXpXkd0_padding-left);
  position: var(--mixin-Oa7JkQXpXkd0_position);
  list-style-type: var(--mixin-Oa7JkQXpXkd0_list-style-type);
  flex-column-gap: var(--mixin-Oa7JkQXpXkd0_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-n1eDrwhBXNf2_display);
  flex-direction: var(--mixin-n1eDrwhBXNf2_flex-direction);
  align-items: var(--mixin-n1eDrwhBXNf2_align-items);
  justify-content: var(--mixin-n1eDrwhBXNf2_justify-content);
  list-style-position: var(--mixin-n1eDrwhBXNf2_list-style-position);
  padding-left: var(--mixin-n1eDrwhBXNf2_padding-left);
  position: var(--mixin-n1eDrwhBXNf2_position);
  list-style-type: var(--mixin-n1eDrwhBXNf2_list-style-type);
  flex-column-gap: var(--mixin-n1eDrwhBXNf2_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin--1D7vWQuZFcb_color);
  font-size: var(--mixin--1D7vWQuZFcb_font-size);
  font-weight: var(--mixin--1D7vWQuZFcb_font-weight);
  line-height: var(--mixin--1D7vWQuZFcb_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-HqXLLecX7g0R_color);
  font-size: var(--mixin-HqXLLecX7g0R_font-size);
  font-weight: var(--mixin-HqXLLecX7g0R_font-weight);
  line-height: var(--mixin-HqXLLecX7g0R_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CbZtVeLmHDYm_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
